
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="{{ path('expres_demo_admin_homepage') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard Home</a>
                        </li>
                        
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Newsletters<span class="fa arrow"></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('newsletter_subscribers') }}">Subscribers</a>
                                </li>
                                <li>
                                    <a href="{{ path('administrator_newslettertemplates') }}">Newsletter templates</a>
                                </li>
                                <li>
                                    <a href="#">Archive</a>
                                </li>
                                <li>
                                    <a href="#">Extras</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Content<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Edit static pages <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="{{ path('staticpages') }}"><i class="fa fa-file-text-o"> </i>  Static page manager</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('static_page_relationships') }}"><i class="fa fa-unlock-alt"> </i>  Page relations</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="{{ path('blogposts') }}"><i class="fa fa-list-alt"> </i>  Blog posts</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('blogcategories') }}"><i class="fa fa-th-list"> </i>  Categories</a>
                                        </li>
                                    </ul>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="forms.html"><i class="fa fa-sliders"></i> Configuration<span class="fa arrow"></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">General</a>
                                </li>
                                <li>
                                    <a href="#">Server</a>
                                </li>
                                <li>
                                    <a href="#">Mailer</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="forms.html"><i class="fa fa-bar-chart "></i> Statistics<span class="fa arrow"></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('searchlog') }}">Search keywords</a>
                                </li>
                                <li>
                                    <a href="#">Hits</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-cog "></i> Apps<span class="fa arrow"></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('pfptask') }}">PainFreePlanner</a>
                                </li>
                                <li>
                                    <a href="#">Other</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            
            