
<h3 class="sidebar"> <i class="fa fa-compass"></i> Categories </h3>

<!-- {{ number }} -->

<!-- {{ dump(ddbug) }} -->


<ul class="list-group">
	{% for category in categories %}
	    <li class="list-group-item">
	    	<span class="badge">{{ render(controller('ExpresDemoBundle:Blog:getCountCategoryPosts', {'blogcategories': category.id })) }}</span>
		    <a href="{{ path('blog_category_article',{'category': category.id|lower}) }}">
		    	<i class="fa fa-paperclip"></i>
		    	<!-- <span class="label label-info">(id: {{ category.id }} )</span> |  -->
		    		{{ category.name }}

		    		
		    </a>
		   
		    
	    </li>
	{% endfor %}
</ul>