
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/base.css') }}" type="text/css" rel="stylesheet" />
            
            <link href="{{ asset('css/base.css') }}" type="text/css" rel="stylesheet" />

                


            {% stylesheets filter='cssrewrite' 
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css'
           

            %}
            <link rel="stylesheet"  href="{{ asset_url }}" />
            {% endstylesheets %}

            <!-- RUMA OWN STYLES -->

            <link href="{{ asset('ruma/assets/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('ruma/assets/css/style.css') }}" type="text/css" rel="stylesheet" />
            <link href="http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css" type="text/css" rel="stylesheet" />


            <!-- END RUMA -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/menu/normalize.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/menu/component.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/menu/demo.css') }}" />
            <script src="{{ asset('js/menu/modernizr.custom.js') }}"></script>

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">YOU</a>
            </div>

            <div class="navbar-collapse collapse">


                <ul class="nav navbar-nav navbar-right">


                <!-- <section class="color-4"> -->
                    <nav class="cl-effect-4">
                        <a href="{{ path('expres_demo_homepage') }}"><span data-hover="Home">Home</span></a>
                        <a href="{{ path('features') }}"><span data-hover="FEATURES">FEATURES</span></a>
                        <a href="{{ path('blog_home') }}"><span data-hover="BLOG">BLOG</span></a>
                        <a href="{{ path('subscribe') }}"><span data-hover="SUBSCRIBE">SUBSCRIBE</span></a>
                        <a href="{{ path('about') }}"><span data-hover="ABOUT">ABOUT</span></a>
                        <a href="{{ path('contact') }}"><span data-hover="CONTACT">CONTACT</span></a>
                    </nav>
                <!-- </section> -->


<!--                     <li><a href="{{ path('expres_demo_homepage') }}">HOME</a></li>
                    <li><a href="{{ path('features') }}">FEATURES</a></li>
                    <li><a href="{{ path('blog_home') }}">BLOG</a></li>
                    <li><a href="{{ path('subscribe') }}">SUBSCRIBE</a></li>
                    <li><a href="{{ path('about') }}">ABOUT</a></li>
                    <li><a href="{{ path('contact') }}">CONTACT</a></li> -->

                </ul>
            </div>
           
        </div>
    </div>
   <!--/.NAVBAR END-->
        

    <!--/.SLIDESHOW END-->

    {% block body %}{% endblock %}


    <section id="footer-sec" >
             
            <div class="container">
           <div class="row  pad-bottom" >
            <div class="col-md-4">
                <h4> <strong>ABOUT US</strong> </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                <a href="{{path('about')}}" >read more</a>
                </div>
               <div class="col-md-4">
                    <h4> <strong>SOCIAL LINKS</strong> </h4>
                   <p>
                     <a href="#"><i class="fa fa-facebook-square fa-3x"  ></i></a>  
                        <a href="#"><i class="fa fa-twitter-square fa-3x"  ></i></a>  
                        <a href="#"><i class="fa fa-linkedin-square fa-3x"  ></i></a>  
                       <a href="#"><i class="fa fa-google-plus-square fa-3x"  ></i></a>  
                   </p>
                </div>
               <div class="col-md-4">
                   <h4> <strong>OUR LOCATION</strong> </h4>
                            <p>
                               234/JK , The Wondre Land, <br />
                               Newyork Street Junction  <br />
                               JUST USA -10909094
                            </p>
                    <a href="#" class="btn btn-primary" >SEND QUERY</a>
                </div>
               </div>
            </div>
    </section>   

        {% block javascripts %}
            {% javascripts
                '%kernel.root_dir%/../vendor/components/jquery/jquery.js'
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.js'
                '%kernel.root_dir%/../vendor/bootflat/bootflat/js/icheck.min.js'
                '%kernel.root_dir%/../vendor/bootflat/bootflat/js/jquery.fs.selecter.min.js'
                '%kernel.root_dir%/../vendor/bootflat/bootflat/js/jquery.fs.stepper.min.js'
            %}
            <script src="{{ asset_url }}"> </script>
            {% endjavascripts %}

            <script src="{{ asset('ruma/assets/js/custom.js') }}"> </script>

        {% endblock %}
    </body>
</html>
